/* フッターウィジェットのホバーエフェクト */
.widget-area {
  overflow: hidden;
}

.widget-area ul li {
  position: relative;
}

.widget-area ul li a {
  position: relative;
  display: inline-block;
  transition: all 0.15s ease-out;
}

/* 特定のウィジェットに右からインサートするエフェクト */
.footer-widget-3 ul li a::before {
  content: '→';
  position: absolute;
  left: -20px;
  opacity: 0;
  transition: all 0.075s ease-out;
}

.footer-widget-3 ul li a:hover::before {
  left: -15px;
  opacity: 1;
}

.footer-widget-3 ul li a:hover {
  transform: translateX(15px);
}

/* 特定のウィジェットに左からインサートするエフェクト */
.footer-widget-4 ul li a::after {
  content: '←';
  position: absolute;
  right: -20px;
  opacity: 0;
  transition: all 0.075s ease-out;
}

.footer-widget-4 ul li a:hover::after {
  right: -15px;
  opacity: 1;
}

.footer-widget-4 ul li a:hover {
  transform: translateX(-15px);
}
